@model IEnumerable<AsyncInn.Models.RoomAmenities>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Room</th>
            <th>Amenity</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.RoomID</td>
                <td>@item.AmenitiesID</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { RoomID = item.RoomID, AmenitiesID = item.AmenitiesID }) |
                    @Html.ActionLink("Details", "Details", new { RoomID = item.RoomID, AmenitiesID = item.AmenitiesID }) |
                    @Html.ActionLink("Delete", "Delete", new { RoomID = item.RoomID, AmenitiesID = item.AmenitiesID })
                </td>
            </tr>
        }
    </tbody>
</table>
